{# app/Resources/views/main.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block menta %}
            <meta http-quiv="Content-Type" content=" text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}Index Category{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/main.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('/css/skeleton.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('/css/normalize.css')}}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div id="header">
                <div class="container">
                    <div class="row">
                        <div class="three columns" id="first_column_header">
                            <a  id="a_nav" href=""><h2>Logo</h2></a>
                        </div>
                        <div class="three columns" id="center_align">
                            <a id="a_header"  href=""><h5>La Carte</h5></a>
                        </div>
                        <div class="three columns" id="center_align">
                            <a id="a_header" href=""><h5>Où Nous trouver</h5></a>
                        </div>
                        <div class="three columns" id="center_align">
                            <a id="a_header" href=""><h5>Menu icône</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascript %}
            <script src="{{ asset('/js/main.js')}}" type="text/javascript"></script>
        {% endblock %}
        {% block content %}
            <div class="container">
                <h1 id="center_align">{% block pagetitle %} {% endblock %}</h1>
            {% block bodyContent %}{% endblock %} 
        </div> 
    {% endblock %}
    {% block footerContent %}
        <div id="footer">
            <div class="container">
                <hr style="border-style: dotted">
                <div class="row">
                    <div class="four columns">
                        <h6 id="center_align">Adresse</h6>
                                <address></address>
                    </div> 
                    <div class="four columns">
                        <h6 id="center_align">Horaires<h6>
                    </div>
                    <div class="four columns">
                        <h6 id="center_align">Contact<h6>
                    </div>              
                </div>
                <div id="center_align">
 &copy;Trattorie d'Italia - 2015
                </div>
            </div>
        {% endblock %}
    </body>
</html>