{# app/Resources/views/trattoriaBase.twig #}
{% block footer %}&copy;Trattoria d'Italia-2015{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        {% block menta %}
            <meta http-quiv="Content-Type" content=" text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/trattoria.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('/css/skeleton.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('/css/normalize.css')}}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block image %} {% endblock %}
        <div class="container u-pull-left" id="container">
            {% block header %}{% endblock %}
            <div class="row">
                <div class="four columns">
                    {% block navigation %}{% endblock %}
                </div>
                <div class="eigth columns">
                {% block pageTitle %}{% endblock %}
                {% block content %}{% endblock %}
                </div>
                <div id="footer">
                    <hr>
                    {% block footer %}{% endblock %}
                </div>
            </div>            
        </div> 
    </body>
</html>