{# app/Resources/views/default/carteNavigtion.html.twig #}
{% block navigation %}
    <div id="nav">
        <ul> 
            <li><a href="http://localhost/resto/web/app_dev.php/">HOME<hr></a></li>
            <li><a href="http://localhost/resto/web/app_dev.php/entrees">LES ENTRÉES<hr></a></li>
            <li><a href="http://localhost/resto/web/app_dev.php/pates">LES PÂTES<hr></a></li> 
            <li><a href="http://localhost/resto/web/app_dev.php/viandes">LES VIANDES<hr></a></li> 
            <li><a href="http://localhost/resto/web/app_dev.php/poissons">LES POISSONS<hr></a></li> 
            <li><a href="http://localhost/resto/web/app_dev.php/hamburgers">LES HAMBURGERS<hr></a></li> 
            <li><a href="http://localhost/resto/web/app_dev.php/pizza">LES PIZZE<hr></a></li>
            <li><a href="http://localhost/resto/web/app_dev.php/desserts">LES DESSERTS<hr></a></li>
            <li><a href="http://localhost/resto/web/app_dev.php/dejeuners">LES DÉJEUNERS<hr></a></li> 
        </ul>
    </div>
{% endblock %}