{#app/Resources/views/default/entrees.html.twig#}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Les Entrées</h1>{% endblock %}
{% block image %}entrees{% endblock %}
{% block navigation %}{{ include ('default/carteNavigation.html.twig') }}{% endblock %}    
{% block content %}
{% endblock %}