{#app/Resources/views/default/hamburgers.html.twig#}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Les Hamburgers Maison</h1>{% endblock %}
{% block image %}hamburgers{% endblock %}
{% block navigation %}{{ include ('default/carteNavigation.html.twig') }}{% endblock %}    
{% block content %}
{% endblock %}