{# app/Resources/views/default/news.html.twig #}
{% for News in news%}
    {% if News.enable == 1%}
        <h1>{{News.title|capitalize}}</h1>
        <p>{{News.subtitle}}</p>
        <p>{{News.description}}</p>
    {% endif %}
    <hr>
{% endfor %}