{# app/Resources/views/default/partenaires.html.twig #}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Nos Partenaires</h1>{% endblock %}
{% block image %}partenaires{% endblock %}
{% block navigation %}{{ include ('default/siteNavigation.html.twig') }}{% endblock %}    
{% block content %}
    <table class="u-full-width" >
        {% for Partners in partners %}
            {%if Partners.enable == 1%}
                <tbody >
                    <tr>
                        <td id="f-size">{{Partners.name}} </td>
                        <td><a href='{{Partners.websiteLink}}' id="tbl"> {{Partners.websiteLink}}</a></td>
                    </tr>
                </tbody>

            {% endif %}
        {% endfor %}
    </table>
{% endblock %}