{#app/Resources/views/default/pates.html.twig#}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Les Pâtes</h1>{% endblock %}
{% block image %}pates{% endblock %}
{% block navigation %}{{ include ('default/carteNavigation.html.twig') }}{% endblock %}    
{% block content %}
{% endblock %}