{#app/Resources/views/default/poissons.html.twig#}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Les Poissons</h1>{% endblock %}
{% block image %}poissons{% endblock %}
{% block navigation %}{{ include ('default/carteNavigation.html.twig') }}{% endblock %}    
{% block content %}
{% endblock %}