{# app/Resources/views/default/siteNavigtion.html.twig #}
{% block navigation %}
    <img id="logo" src="images/logo resto.png" alt="logo"/>
    <div id="nav">
        <ul>                         
            <li><a href="">LES NEWS<hr></a></li>
            <li><a href="">LA CARTE<hr></a></li> 
            <li><a href="">LA TRATTORIA<hr></a></li> 
            <li><a href="">PARTENAIRES<hr></a></li> 
            <li><a href="">INFOS PRATIQUES<hr></a></li> 
            <li><a href="">NOUS TROUVER<hr></a></li> 
            <li><a href="">NOUS CONTACTER<hr></a></li> 
        </ul>
    {% endblock %}