{# app/Resources/views/default/trattoria.html.twig #}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">La Trattoria</h1>{% endblock %}
{% block image %}trattoria{% endblock %}
{% block navigation %}{{ include ('default/siteNavigation.html.twig') }}{% endblock %}    
{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis tristique urna non sodales. Morbi porta eleifend dolor ac suscipit. Curabitur vel viverra lorem. Vestibulum varius quam vel volutpat consequat. Sed lacinia mollis ligula, et tincidunt turpis congue quis. Vestibulum magna magna, ullamcorper id bibendum quis, lobortis eget enim. Sed ut massa vel ipsum ultrices ullamcorper. Sed sit amet egestas metus, in posuere eros. Praesent eu condimentum dolor. Curabitur non scelerisque justo. Suspendisse sagittis nulla non imperdiet vehicula. Sed luctus feugiat volutpat. Praesent consequat metus id massa semper, quis euismod neque fringilla. Maecenas eget tellus porttitor dolor scelerisque scelerisque eget sed felis</p>
    <p>Sed eu consequat tellus. Cras eu turpis quis nunc vestibulum malesuada. Suspendisse potenti. Duis eget elit ac ipsum convallis laoreet sit amet et arcu. Vivamus sagittis eros vitae placerat cursus. Mauris efficitur interdum lacus in pellentesque. Nam vel dolor mattis, condimentum ante sit amet, facilisis orci. Ut ex lectus, interdum sed turpis eu, porta lobortis mi. Vivamus interdum justo vel ligula lobortis, a ultrices mi finibus. Curabitur magna metus, tristique ut cursus nec, tincidunt non nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula massa, cursus a lacus ut, faucibus convallis dui. Pellentesque in feugiat enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
{% endblock %}
