{# src/Admin/CategoryBundle/Resources/views/List/add.html.twig#}
<!DOCTYPE html>
<html>
    <head>
        <title>Création d'une Catégorie</title>
    </head>
    <body>
        <h1>Création d'une Catégorie</h1>
        <p>{{message}}</p><br>
        <b>Id n° : </b><{{id}}br>
        <b>Nom : </b>{{name}}<br>
        <b>Description : </b>{{description}}<br>        
    </body>
</html>