{# src/Admin/CategoryBundle/Resources/views/List/delete.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Catégories' %}
{% block pagetitle %}Effacement d'une Catégorie{% endblock %}
{% block bodyContent %}        
    <h2>La Catégorie: {{name}}</h2>
    <b>Nom : </b>{{name}}<br>
    <b>Description: </b><em>{{description}}</em><br>
    <p>a été correctement effacée</p>
{% endblock %}
