{# src/Admin/CategoryBundle/Resources/views/List/delete.html.twig#}
<!DOCTYPE html>
<html>
    <head>
        <title>Affichage du détail d'une Catégorie</title>
    </head>
    <body>
        <h1>Effacement d'une Catégorie</h1>
        
        <h2>La catégorie dont l'id est {{id}}:</h2>
        <b>Nom : </b>{{name}}<br>
        <b>Description: </b><em>{{description}}</em><br>
        <p>a été effacée</p>
    </body>
</html>