{# src/Admin/CategoryBundle/Resources/views/List/view.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Catégories' %}
{% block pagetitle %}{% endblock %}
{% block bodyContent %}
    <h2>La catégorie: {{name}}</h2>
    <b>Nom: </b>{{name}}<br>
    <b>Description: </b><em>{{description}}</em><br>
    <b>Publié: </b>
    {%if enable == 1%}
        oui
    {%else%}
        non
    {%endif%}<br>
    <b>Tri: {{sort}}</b>
{% endblock %}
