{# src/Admin/CategoryBundle/Resources/views/List/view.html.twig#}
<!DOCTYPE html>
<html>
    <head>
        <title>Affichage du détail d'une Catégorie</title>
    </head>
    <body>
        <h1>Affichage du détail d'une Catégorie</h1>       
        <h2>La catégorie dont l'id est {{id}}:</h2><br>
        <p>{{ErrorMessage}}</p>
    </body>
</html>