/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 août 2015, 16:39:17
    Author     : Licya
*/

/* Font
––––––––––––––––––––––––––––––––––––––––––––––––––*/
#dark_green_font{color: #012615;}
#light_green_font{color: #025928;}
#yello_font_font{color: #f9eeb7;}
#orange_font{color:#f2811d;}
#red_font{color:#bf2c2c;}

#center_align{text-align: center;}
#left_align{text-align: left;}
#right_align{text-align: right;}
#justify_align{text-align: justify;}

/* Background
––––––––––––––––––––––––––––––––––––––––––––––––––*/
#background_dark_green_font{background-color: #012615;}
#background_light_green_font{background-color: #025928;}
#background_yello_font_font{background-color: #f9eeb7;}
#background_orange_font{background-color:#f2811d;}
#background_red_font{background-color:#bf2c2c;}
#background_dark_grey_font{background-color: #333333;}

/* Links
––––––––––––––––––––––––––––––––––––––––––––––––––*/
#first_column_header{
    background-color: #009966;
    text-align: center;
    font-style: italic;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style-type: none;
}

#li_nav{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    height: 50px;
}

#li_nav:hover{background-color: black; color: #00cc99;}

#a_nav{
    text-decoration: none;
    width: 200px;
    font-weight: bold;
    color:white;
}

#a_nav:hover{color: #00cc99;}

#a_header{
    text-decoration: none;
    font-weight: bold;
    color:white;
}

#a_header:hover{ color: #009966; }

#header{
    background-color: #00cc99;
    color:#ffffff;
}

#sidbar {
    list-style-type: none;
}

#footer{
    background-color: black;
    color: white;
    height: 100px;
}

#btn_nav_detail{
    border: none;
    margin-top: 15px;
}

#btn_nav_detail:hover{
    background-color: #00cc99;
}

#btn_nav_edit{
    border: none;
    margin-top: 15px;
}

#btn_nav_edit:hover{
    background-color: #f2811d;
}

#btn_nav_delete{
    border: none;
    margin-top: 15px;
}

#btn_nav_delete:hover{background-color: #bf2c2c;}

#btn_add{
    border: none;
    margin-top: 15px;
}

#btn_add:hover{background-color: #ffff66;}

#btn_nav{
    border: none;
    margin-top: 15px;
    width: 300px;
}

#btn_nav:hover{ background-color: #009966; }

tr:hover{color: #009966;}
th{text-align: center;}

#logo{width: 100%;}
//#logo:hover{ opacity:0.8;}