{# src/Admin/PropositionBundle/Resources/views/Proposition/detail.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Proposition' %}
{% block pagetitle %}Affichage du détail d'une {{itemName}}{% endblock %}
{% block bodyContent %}
    <h2>La Proposition: {{title}}</h2>
    <b>Titre: </b>{{title}}<br>
{% endblock %}
