{# src/Admin/NewsBundle/Resources/views/News/detail.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'News' %}
{% block pagetitle %}{% endblock %}
{% block bodyContent %}
    <h2>{{title}}</h2>
    <b>Sous-titre: </b>{{subtitle}}<br>
    <b>Description: </b><em>{{description}}</em><br>
    <b>Publié: </b>
    {%if enable == 1%}
        oui
    {%else%}
        non
    {%endif%}<br>
    <b>Tri: {{sort}}</b>
{% endblock %}
