{# src/Admin/NewsBundle/Resources/views/News/view.html.twig#}
<!DOCTYPE html>
<html>
    <head>
        <title>Affichage du détail d'une News</title>
    </head>
    <body>
        <h1>Affichage du détail d'une News</h1>       
        <h2>La News dont l'id est {{id}}:</h2><br>
        <p>{{ErrorMessage}}</p>
    </body>
</html>